In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train=pd.read_csv("/Users/tgsingh/Desktop/Human Activity Recognition/train.csv")

In [3]:
test=pd.read_csv("/Users/tgsingh/Desktop/Human Activity Recognition/test.csv")

In [4]:
y_train=train.Activity
x_train=train.drop('Activity',axis=1)

In [5]:
y_test=test.Activity
x_test=test.drop('Activity',axis=1)

In [6]:
from sklearn.linear_model import LogisticRegression

In [7]:
LR=LogisticRegression(multi_class='multinomial',solver='lbfgs')

In [8]:
logregmodel=LR.fit(x_train,y_train)

In [9]:
logregmodel.score(x_train,y_train)

0.9885745375408053

In [10]:
logregpredict=logregmodel.predict(x_test)

In [11]:
pd.crosstab(y_test,logregpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,2,426,61,0,0,2
STANDING,0,16,516,0,0,0
WALKING,0,0,0,487,3,6
WALKING_DOWNSTAIRS,0,0,0,5,405,10
WALKING_UPSTAIRS,0,0,0,23,8,440

In [12]:
(537+426+516+487+405+440)/y_test.shape[-1]

0.9538513742789277

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
DecTree=DecisionTreeClassifier()

In [15]:
dectreemodel=DecTree.fit(x_train,y_train)

In [16]:
dectreemodel.score(x_train,y_train)

1.0

In [17]:
dectreepredict=dectreemodel.predict(x_test)

In [18]:
pd.crosstab(y_test,dectreepredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,387,104,0,0,0
STANDING,0,85,447,0,0,0
WALKING,0,0,0,447,16,33
WALKING_DOWNSTAIRS,0,0,0,21,349,50
WALKING_UPSTAIRS,0,0,0,68,32,371

In [19]:
(537+370+451+438+350+355)/y_test.shape[-1]

0.8486596538853071

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
RF=RandomForestClassifier(n_estimators=3000)

In [24]:
rfmodel=RF.fit(x_train,y_train)

In [26]:
rfmodel.score(x_train,y_train)

1.0

In [28]:
rfpredict=rfmodel.predict(x_test)

In [29]:
pd.crosstab(y_test,rfpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,434,57,0,0,0
STANDING,0,44,488,0,0,0
WALKING,0,0,0,481,8,7
WALKING_DOWNSTAIRS,0,0,0,21,356,43
WALKING_UPSTAIRS,0,0,0,30,6,435

In [33]:
(537+434+488+481+356+435)/y_test.shape[-1]

0.9267051238547676

In [30]:
from sklearn.ensemble import GradientBoostingClassifier

In [31]:
GB=GradientBoostingClassifier(n_estimators=5000)

In [32]:
gbmodel=GB.fit(x_train,y_train)

In [34]:
gbmodel.score(x_train,y_train)

1.0

In [35]:
gbpredict=gbmodel.predict(x_test)

In [36]:
pd.crosstab(y_test,gbpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,418,71,0,0,2
STANDING,0,37,495,0,0,0
WALKING,0,0,0,485,2,9
WALKING_DOWNSTAIRS,0,0,0,8,386,26
WALKING_UPSTAIRS,0,0,0,22,6,443

In [40]:
(537+418+495+485+386+443)/y_test.shape[0]

0.9379029521547336

In [37]:
from sklearn.neural_network import MLPClassifier

In [38]:
mlp=MLPClassifier(activation='relu',hidden_layer_sizes=(100,))

In [39]:
mlpmodel=mlp.fit(x_train,y_train)

In [41]:
mlpmodel.score(x_train,y_train)

0.9918389553862894

In [42]:
mlppredict=mlpmodel.predict(x_test)

In [43]:
pd.crosstab(y_test,mlppredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,527,0,10,0,0,0
SITTING,0,439,50,0,0,2
STANDING,0,24,508,0,0,0
WALKING,0,0,0,489,7,0
WALKING_DOWNSTAIRS,0,0,0,7,395,18
WALKING_UPSTAIRS,0,0,1,33,2,435

In [44]:
(527+439+508+489+395+435)/y_test.shape[0]

0.9477434679334917

In [45]:
from sklearn.neighbors import KNeighborsClassifier

In [46]:
KNN=KNeighborsClassifier()

In [47]:
KNNmodel=KNN.fit(x_train,y_train)

In [48]:
KNNmodel.score(x_train,y_train)

0.9889825897714908

In [49]:
KNNpredict=KNNmodel.predict(x_test)

In [50]:
pd.crosstab(y_test,KNNpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,511,19,7,0,0,0
SITTING,0,332,157,0,0,2
STANDING,0,66,465,1,0,0
WALKING,0,0,0,423,43,30
WALKING_DOWNSTAIRS,0,0,0,78,313,29
WALKING_UPSTAIRS,0,0,0,101,28,342

In [51]:
(511+332+465+423+313+342)/y_test.shape[0]

0.8096369189005769

In [52]:
from sklearn.svm import SVC # both for classification and regression

In [53]:
Supportvect=SVC(kernel='linear')

In [54]:
supvecmodel=Supportvect.fit(x_train,y_train)

In [55]:
supvecmodel.score(x_train,y_train)

0.9940152339499456

In [56]:
svcpredict=supvecmodel.predict(x_test)

In [57]:
pd.crosstab(y_test,svcpredict)

col_0,LAYING,SITTING,STANDING,WALKING,WALKING_DOWNSTAIRS,WALKING_UPSTAIRS
Activity,,,,,,
LAYING,537,0,0,0,0,0
SITTING,0,435,55,0,0,1
STANDING,0,16,516,0,0,0
WALKING,0,0,0,494,1,1
WALKING_DOWNSTAIRS,0,0,0,4,410,6
WALKING_UPSTAIRS,0,0,0,22,2,447

In [58]:
(537+435+516+494+410+447)/y_test.shape[0]

0.9633525619273838