In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
data=pd.read_csv("/Users/mac/Downloads/Dataset _for_Regression.csv")

In [3]:
data.head() #gives the first 5 data

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
data.tail() #gives the last 5 data

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
550063,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,F,55+,1,C,2,0,20,NaN,NaN,365
550067,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [5]:
data.describe()

,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [6]:
data.shape #gives no if rows and columns

(550068, 10)

In [7]:
data.dtypes #gives the data types present in the dataset

Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [8]:
(data.isnull().sum().sort_values(ascending=False)) #check for missing values in data

Product_Category_3            383247
Product_Category_2            173638
Purchase                           0
Product_Category_1                 0
Marital_Status                     0
Stay_In_Current_City_Years         0
City_Category                      0
Occupation                         0
Age                                0
Gender                             0
dtype: int64

In [9]:
from scipy import stats as st

In [10]:
data.Purchase.groupby(data.Gender).mean()

Gender
F    8734.565765
M    9437.526040
Name: Purchase, dtype: float64

In [11]:
Female=data[data.Gender=='F']
Male=data[data.Gender=='M']

In [12]:
st.ttest_ind(Female.Purchase,Male.Purchase)

Ttest_indResult(statistic=-44.837957934353966, pvalue=0.0)

In [ ]:
#the p value is <0.05 ,hence we reject the null hypothesis
#the difference of 703 makes a significant differnce

In [13]:
data.Purchase.groupby(data.Age).mean()

Age
0-17     8933.464640
18-25    9169.663606
26-35    9252.690633
36-45    9331.350695
46-50    9208.625697
51-55    9534.808031
55+      9336.280459
Name: Purchase, dtype: float64

In [14]:
teens=data[data.Age=='0-17']   
youngster=data[data.Age=='18-25']
early_mid=data[data.Age=='26-35']
mid=data[data.Age=='36-45']
late_mid=data[data.Age=='46-50']
old=data[data.Age=='51-55']
elder=data[data.Age=='55+']

In [15]:
st.f_oneway(teens.Purchase,youngster.Purchase,early_mid.Purchase,mid.Purchase,late_mid.Purchase,old.Purchase,elder.Purchase)

F_onewayResult(statistic=40.57579909450407, pvalue=1.053563939251671e-49)

In [ ]:
#the value of p is less than 0.05 henece we reject null hypothesis

In [16]:
data.Purchase.groupby(data.City_Category).mean()

City_Category
A    8911.939216
B    9151.300563
C    9719.920993
Name: Purchase, dtype: float64

In [17]:
A=data[data.City_Category=='A']
B=data[data.City_Category=='B']
C=data[data.City_Category=='C']

In [18]:
st.f_oneway(A.Purchase,B.Purchase,C.Purchase)

F_onewayResult(statistic=1130.7459610102974, pvalue=0.0)

In [ ]:
# the value of p is less that 0.05,hence we reject null hypothesis

In [19]:
data.Purchase.groupby(data.Marital_Status).mean()

Marital_Status
0    9265.907619
1    9261.174574
Name: Purchase, dtype: float64

In [20]:
married=data[data.Marital_Status==1]
unmarried=data[data.Marital_Status==0]

In [21]:
st.ttest_ind(married.Purchase,unmarried.Purchase)

Ttest_indResult(statistic=-0.3436698055440526, pvalue=0.7310947525758316)

In [ ]:
#the p-value is greater than 0.05, hence we accept null hypothesis
#therefore there is no significant difference if the person is married or unmarried

In [22]:
data.Occupation.groupby(data.City_Category).mean()

City_Category
A    7.828364
B    7.987282
C    8.411789
Name: Occupation, dtype: float64

In [23]:
A_o=data[data.City_Category=='A']
B_o=data[data.City_Category=='B']
C_o=data[data.City_Category=='C']

In [24]:
st.f_oneway(A_o.Occupation,B_o.Occupation,C_o.Occupation)

F_onewayResult(statistic=355.1233247588385, pvalue=7.436765338083343e-155)

In [ ]:
#the value of p is less than 0.05 , hence we reject null hypothesis
#so there is significant difference between them

In [25]:
data.Occupation.groupby(data.Gender).mean()

Gender
F    6.74054
M    8.51475
Name: Occupation, dtype: float64

In [26]:
F=data[data.Gender=='F']
M=data[data.Gender=='M']

In [27]:
st.ttest_ind(F.Occupation,M.Occupation)

Ttest_indResult(statistic=-87.59515550928018, pvalue=0.0)

In [ ]:
#the value of p is less than 0.05 , hence we reject null hypothesis
#so there is significant difference between them

In [28]:
(data.isnull().sum().sort_values(ascending=False))

Product_Category_3            383247
Product_Category_2            173638
Purchase                           0
Product_Category_1                 0
Marital_Status                     0
Stay_In_Current_City_Years         0
City_Category                      0
Occupation                         0
Age                                0
Gender                             0
dtype: int64

In [29]:
data.Product_Category_3.describe()

count    166821.000000
mean         12.668243
std           4.125338
min           3.000000
25%           9.000000
50%          14.000000
75%          16.000000
max          18.000000
Name: Product_Category_3, dtype: float64

In [30]:
data.Product_Category_3.fillna(data.Product_Category_3.mean(),inplace=True)

In [31]:
(data.isnull().sum().sort_values(ascending=False))

Product_Category_2            173638
Purchase                           0
Product_Category_3                 0
Product_Category_1                 0
Marital_Status                     0
Stay_In_Current_City_Years         0
City_Category                      0
Occupation                         0
Age                                0
Gender                             0
dtype: int64

In [32]:
data.Product_Category_2.fillna(data.Product_Category_2.mean(),inplace=True)

In [33]:
from sklearn.preprocessing import LabelEncoder

In [34]:
le=LabelEncoder()

In [35]:
datanum=data.select_dtypes(include=np.number)
datacat=data.select_dtypes(include=['object'])

In [36]:
datacat.dtypes

Gender                        object
Age                           object
City_Category                 object
Stay_In_Current_City_Years    object
dtype: object

In [37]:
datacat1=datacat.apply(le.fit_transform)

In [38]:
datadf=pd.concat([datacat1,datanum],axis=1)

In [39]:
datadf.head()

,Gender,Age,City_Category,Stay_In_Current_City_Years,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,0,0,2,10,0,3,9.842329,12.668243,8370
1,0,0,0,2,10,0,1,6.000000,14.000000,15200
2,0,0,0,2,10,0,12,9.842329,12.668243,1422
3,0,0,0,2,10,0,12,14.000000,12.668243,1057
4,1,6,2,4,16,0,8,9.842329,12.668243,7969

In [40]:
y=datadf.Purchase
x=datadf.drop('Purchase',axis=1)

In [41]:
from sklearn.linear_model import LinearRegression

In [47]:
LinReg=LinearRegression()

In [48]:
LinRegmodel=LinReg.fit(x,y)

In [49]:
LinRegmodel.score(x,y) #R square of linear regression model

0.1286141162848209

In [50]:
LinRegmodel.intercept_

10224.683357687398

In [46]:
print(list(zip(x,LinRegmodel.coef_)))

[('Gender', 506.52153942601893), ('Age', 119.1150463495215), ('City_Category', 348.93536921917365), ('Stay_In_Current_City_Years', 8.107924821527996), ('Occupation', 6.4182968763302535), ('Marital_Status', -54.98536072828767), ('Product_Category_1', -406.938373111448), ('Product_Category_2', -85.5939970947915), ('Product_Category_3', 78.45701240939175)]

In [47]:
linregpredict=LinReg.predict(x)

In [48]:
linregresidual=y-linregpredict

In [49]:
np.sqrt(np.mean(linregresidual**2)) #root mean r square

4688.929440390331

In [50]:
from sklearn.tree import DecisionTreeRegressor

In [51]:
DecTree=DecisionTreeRegressor()

In [52]:
DecTreemodel=DecTree.fit(x,y)

In [53]:
DecTreemodel.score(x,y)

0.7920112477996549

In [54]:
DecTreepredict=DecTree.predict(x)

In [55]:
residual=y-DecTreepredict

In [56]:
np.sqrt(np.mean(residual**2))

2290.8062646413596

In [57]:
from sklearn.ensemble import RandomForestRegressor

In [58]:
RF=RandomForestRegressor(n_estimators=1000)

In [59]:
RFmodel=RF.fit(x,y)

In [60]:
RFmodel.score(x,y)

0.7831434414648459

In [61]:
RFpredict=RF.predict(x)

In [62]:
residual=y-RFpredict

In [63]:
np.sqrt(np.mean(residual**2))

2339.1319342797947

In [50]:
from sklearn.ensemble import GradientBoostingRegressor

In [51]:
GB=GradientBoostingRegressor(n_estimators=1000)

In [52]:
GBmodel=GB.fit(x,y)

In [53]:
GBmodel.score(x,y)

0.663430612263344

In [54]:
GBpredict=GB.predict(x)

In [55]:
GBresidual=y-GBpredict

In [56]:
np.sqrt(np.mean(GBresidual**2))

2914.108674893536

In [66]:
from sklearn.neural_network import MLPRegressor

In [67]:
mlp=MLPRegressor(activation='relu',hidden_layer_sizes=(100,))

In [68]:
mlpmodel=mlp.fit(x,y)

C:\Users\drsam\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:564: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [69]:
mlp.score(x,y)

0.425111705848532

In [70]:
mlppredict=mlp.predict(x)

In [71]:
mlpresidual=y-mlppredict

In [72]:
np.sqrt(np.mean(mlpresidual**2))

3808.5544608006885

In [42]:
from sklearn.svm import SVR

In [43]:
svr=SVR(kernel='linear')

In [44]:
svrmodel=svr.fit(x,y)

In [45]:
svrmodel.score(x,y)

0.09490500834234827

In [46]:
svrpredict=svr.predict(x)

In [47]:
svrresidual=y-svrpredict

In [48]:
np.sqrt(np.mean(svrresidual**2))

4778.763283682777

In [41]:
from sklearn.neighbors import KNeighborsRegressor

In [43]:
knn=KNeighborsRegressor()

In [44]:
knnmodel=knn.fit(x,y)

In [45]:
knnmodel.score(x,y)

0.6910803777914599

In [46]:
knnpredict=knn.predict(x)

In [47]:
knnresidual=y-knnpredict

In [48]:
np.sqrt(np.mean(knnresidual**2))

2791.8442402526816

In [ ]:
#root mean square error:
# linear regression =4688.92
#  Decision Tree    =2290.80
# Random Forest     =2339.131
# Gradient Boosting =2914.10
# MLP               =3808.554
# KNN               = 2791.84
# SVC               =4778.76

# the best model  is Decision Tree model 
# The worst model is SVC model