In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
mtcars=pd.read_csv("/Users/tgsingh/Desktop/Datasets BITS/mtcars.csv")

In [3]:
AutoType=[]
for rows in mtcars.am:
    if rows==0:
        AutoType.append("automatic")
    else:
        AutoType.append("manual")
mtcars["AutoType"]=AutoType

In [5]:
mtcars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [6]:
mtcars.mpg.describe()

count    32.000000
mean     20.090625
std       6.026948
min      10.400000
25%      15.425000
50%      19.200000
75%      22.800000
max      33.900000
Name: mpg, dtype: float64

In [7]:
MileageType=[]
for row in mtcars.mpg:
    if row>=22:
        MileageType.append('high mileage')
    elif row>=15:
        MileageType.append('medium mileage')
    else:
         MileageType.append('low mileage')
mtcars['MileageType']=MileageType

In [8]:
pd.value_counts(mtcars.MileageType)

medium mileage    18
high mileage       9
low mileage        5
Name: MileageType, dtype: int64

In [9]:
mtcars.wt.describe()

count    32.000000
mean      3.217250
std       0.978457
min       1.513000
25%       2.581250
50%       3.325000
75%       3.610000
max       5.424000
Name: wt, dtype: float64

In [64]:
WtType=[]
for row in mtcars.wt:
    if row>=3.61:
        WtType.append('heavy wt car')
    elif row>=2.58:
        WtType.append('medium wt car')
    else:
         WtType.append('low wt car')
mtcars['WtType']=WtType

In [65]:
pd.value_counts(mtcars.WtType)

medium wt car    16
low wt car        8
heavy wt car      8
Name: WtType, dtype: int64

In [66]:
# conduct hypo test average mpg of Auto N manual cars is equal 
from scipy import stats as st

In [67]:
mtcars.mpg.groupby(mtcars.AutoType).mean()

AutoType
automatic    17.147368
manual       24.392308
Name: mpg, dtype: float64

In [68]:
automatic = mtcars[mtcars.AutoType=="automatic"]
manual = mtcars[mtcars.AutoType=="manual"]

In [69]:
automatic.shape

(19, 16)

In [70]:
manual.shape

(13, 16)

In [71]:
st.ttest_ind(automatic.mpg,manual.mpg)

Ttest_indResult(statistic=-4.106126983100689, pvalue=0.0002850207439350686)

In [72]:
# p-value<0.05 means reject null ,hence the 7 mileage makes a  significant difference

In [73]:
mtcars.gear.describe()

count    32.000000
mean      3.687500
std       0.737804
min       3.000000
25%       3.000000
50%       4.000000
75%       4.000000
max       5.000000
Name: gear, dtype: float64

In [74]:
#conduct hypo test avg mpg of different gears is equal
GearType=[]
for row in mtcars.gear:
    if row>=4:
        GearType.append('4 gear car')
    elif row>=3:
        GearType.append('3_gear_car')
    else:
         GearType.append('less than 3 gear car')
mtcars['GearType']=GearType

In [75]:
pd.value_counts(mtcars.GearType)

4 gear car    17
3_gear_car    15
Name: GearType, dtype: int64

In [76]:
mtcars.mpg.groupby(mtcars.GearType).mean()

GearType
3_gear_car    16.106667
4 gear car    23.605882
Name: mpg, dtype: float64

In [77]:
FourGear =mtcars[mtcars.GearType=="4 gear car"]
ThreeGear =mtcars[mtcars.GearType=="3_gear_car"]

In [78]:
FourGear.shape

(17, 16)

In [79]:
ThreeGear.shape

(15, 16)

In [80]:
st.ttest_ind(FourGear.mpg,ThreeGear.mpg)

Ttest_indResult(statistic=4.4533738848738, pvalue=0.00010847096621383709)

In [81]:
# p-value<0.05 means reject null, hence it matters if the car is 4th gear or 3rd gear

In [82]:
# conduct hypo test mpg and WT type 
mtcars.mpg.groupby(mtcars.WtType).mean()

WtType
heavy wt car     14.61250
low wt car       28.08750
medium wt car    18.83125
Name: mpg, dtype: float64

In [83]:
heavy_car = mtcars[mtcars.WtType=="heavy wt car"]
medium_car = mtcars[mtcars.WtType=="medium wt car"]
low_car = mtcars[mtcars.WtType=="low wt car"]

In [84]:
heavy_car.shape

(8, 16)

In [85]:
medium_car.shape

(16, 16)

In [86]:
low_car.shape

(8, 16)

In [87]:
st.f_oneway(heavy_car.mpg,medium_car.mpg,low_car.mpg)

F_onewayResult(statistic=32.28528466816029, pvalue=4.200021618781354e-08)

In [88]:
# p-value<0.05 hence reject null, all are not equal

In [89]:
# conduct hypo test on Mileage type and wt type

In [90]:
pd.crosstab(mtcars.MileageType,mtcars.WtType)

WtType          heavy wt car  low wt car  medium wt car
MileageType
high mileage               0           7              2
low mileage                4           0              1
medium mileage             4           1             13

In [91]:
st.chi2_contingency(pd.crosstab(mtcars.MileageType,mtcars.WtType))

(26.422222222222224, 2.6008504432656055e-05, 4, array([[2.25, 2.25, 4.5 ],
        [1.25, 1.25, 2.5 ],
        [4.5 , 4.5 , 9.  ]]))

In [ ]:
# p<0.05 hence we reject the null hypothesis