In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv("/Users/tgsingh/Desktop/Datasets BITS/Dataset for Classification.csv")

In [3]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,3,4,1,6,3,3,2,2,2,2

In [4]:
data.tail()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,3,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,3,1,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,4,2,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,3,4,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,3,1,0,6,3,4,4,3,1,2

In [5]:
data.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,3.153741,2.712245,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,0.360824,1.081209,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,3.000000,2.000000,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,3.000000,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,3.000000,4.000000,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,4.000000,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [6]:
data.shape

(1470, 33)

In [7]:
data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [8]:
datanum=data.select_dtypes(include=np.number)
datacat=data.select_dtypes(include=['object'])

In [9]:
datacat.dtypes

Attrition         object
BusinessTravel    object
Department        object
EducationField    object
Gender            object
JobRole           object
MaritalStatus     object
OverTime          object
dtype: object

In [10]:
from scipy import stats as st

In [11]:
pd.crosstab(data.Attrition,data.Gender)

Gender     Female  Male
Attrition
No            501   732
Yes            87   150

In [12]:
st.chi2_contingency(pd.crosstab(data.Attrition,data.Gender))

(1.1169671241970975, 0.29057244902890855, 1, array([[493.2, 739.8],
        [ 94.8, 142.2]]))

In [13]:
pd.crosstab(data.EducationField,data.Attrition)

Attrition          No  Yes
EducationField
Human Resources    20    7
Life Sciences     517   89
Marketing         124   35
Medical           401   63
Other              71   11
Technical Degree  100   32

In [14]:
st.chi2_contingency(pd.crosstab(data.EducationField,data.Attrition))

(16.024674119585427,
 0.006773980139025212,
 5,
 array([[ 22.64693878,   4.35306122],
        [508.29795918,  97.70204082],
        [133.36530612,  25.63469388],
        [389.19183673,  74.80816327],
        [ 68.77959184,  13.22040816],
        [110.71836735,  21.28163265]]))

In [15]:
data.MonthlyIncome.groupby(data.Gender).mean()

Gender
Female    6686.566327
Male      6380.507937
Name: MonthlyIncome, dtype: float64

In [16]:
female=data[data.Gender=='Female']
male=data[data.Gender=='Male']

In [17]:
st.ttest_ind(female.MonthlyIncome,male.MonthlyIncome)

Ttest_indResult(statistic=1.2212617308870655, pvalue=0.22218303455087898)

In [18]:
data.MonthlyIncome.groupby(data.MaritalStatus).mean()

MaritalStatus
Divorced    6786.287462
Married     6793.671620
Single      5889.472340
Name: MonthlyIncome, dtype: float64

In [19]:
divorced=data[data.MaritalStatus=='Divorced']
married=data[data.MaritalStatus=='Married']
single=data[data.MaritalStatus=='Single']

In [20]:
st.f_oneway(divorced.MonthlyIncome,married.MonthlyIncome,single.MonthlyIncome)

F_onewayResult(statistic=5.904753323759055, pvalue=0.002791675956684596)

In [21]:
data.DistanceFromHome.groupby(data.Attrition).mean()

Attrition
No      8.915653
Yes    10.632911
Name: DistanceFromHome, dtype: float64

In [22]:
no=data[data.Attrition=='No']
yes=data[data.Attrition=='Yes']

In [23]:
st.ttest_ind(no.DistanceFromHome,yes.DistanceFromHome)

Ttest_indResult(statistic=-2.994708098265125, pvalue=0.0027930600802134266)

In [24]:
data.YearsInCurrentRole.groupby(data.Gender).mean()

Gender
Female    4.413265
Male      4.106576
Name: YearsInCurrentRole, dtype: float64

In [25]:
st.ttest_ind(female.YearsInCurrentRole,male.YearsInCurrentRole)

Ttest_indResult(statistic=1.5907588008772968, pvalue=0.11187917635884875)

In [26]:
data.YearsInCurrentRole.groupby(data.MaritalStatus).mean()

MaritalStatus
Divorced    4.35474
Married     4.48737
Single      3.77234
Name: YearsInCurrentRole, dtype: float64

In [27]:
st.f_oneway(divorced.YearsInCurrentRole,married.YearsInCurrentRole,single.YearsInCurrentRole)

F_onewayResult(statistic=5.677257510552126, pvalue=0.003498575600322668)

In [28]:
(data.isnull().sum().sort_values(ascending=False))

YearsWithCurrManager        0
JobRole                     0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobSatisfaction             0
YearsSinceLastPromotion     0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
Age                         0
dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
le=LabelEncoder()

In [31]:
datanum.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,1,1,2,94,3,2,...,3,1,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,4,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,3,2,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,3,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,3,4,1,6,3,3,2,2,2,2

In [32]:
datanum.dtypes

Age                         int64
DailyRate                   int64
DistanceFromHome            int64
Education                   int64
EmployeeCount               int64
EmployeeNumber              int64
EnvironmentSatisfaction     int64
HourlyRate                  int64
JobInvolvement              int64
JobLevel                    int64
JobSatisfaction             int64
MonthlyIncome               int64
MonthlyRate                 int64
NumCompaniesWorked          int64
PercentSalaryHike           int64
PerformanceRating           int64
RelationshipSatisfaction    int64
StockOptionLevel            int64
TotalWorkingYears           int64
TrainingTimesLastYear       int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsInCurrentRole          int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
dtype: object

In [33]:
datacat1=datacat.apply(le.fit_transform)

In [34]:
datadf=pd.concat([datanum,datacat1],axis=1)

In [35]:
datadf.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,OverTime
0,41,1102,1,2,1,1,2,94,3,2,...,0,5,1,2,2,1,0,7,2,1
1,49,279,8,1,1,2,3,61,2,2,...,1,7,0,1,1,1,1,6,1,0
2,37,1373,2,2,1,4,4,92,2,1,...,0,0,1,2,1,4,1,2,2,1
3,33,1392,3,4,1,5,4,56,3,1,...,3,0,0,1,1,1,0,6,1,1
4,27,591,2,1,1,7,1,40,3,1,...,2,2,0,2,1,3,1,2,1,0

In [36]:
datay=datadf.Attrition
datax=datadf.drop('Attrition',axis=1)

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X_train,X_test,y_train,y_test=train_test_split(datax,datay,test_size=0.20,random_state=123)

In [39]:
X_train.shape

(1176, 32)

In [40]:
X_test.shape

(294, 32)

In [41]:
y_test.shape

(294,)

In [42]:
y_train.shape

(1176,)

In [43]:
from sklearn.linear_model import LogisticRegression

In [44]:
LR=LogisticRegression(multi_class='multinomial',solver='lbfgs')

In [45]:
logregmodel=LR.fit(X_train,y_train)

In [46]:
logregmodel.score(X_train,y_train)

0.8350340136054422

In [47]:
logregpredict=logregmodel.predict(X_test)

In [48]:
pd.crosstab(y_test,logregpredict)

col_0        0  1
Attrition
0          254  2
1           35  3

In [49]:
(254+3)/(254+3+2+35)

0.8741496598639455

In [50]:
from sklearn.tree import DecisionTreeClassifier

In [51]:
DecTree=DecisionTreeClassifier()

In [52]:
dectreemodel=DecTree.fit(X_train,y_train)

In [53]:
dectreemodel.score(X_train,y_train)

1.0

In [54]:
dectreepredict=dectreemodel.predict(X_test)

In [55]:
pd.crosstab(y_test,dectreepredict)

col_0        0   1
Attrition
0          222  34
1           24  14

In [56]:
(222+16)/(222+16+22+34)

0.8095238095238095

In [57]:
from sklearn.ensemble import RandomForestClassifier

In [58]:
RF=RandomForestClassifier(n_estimators=5000)

In [59]:
rfmodel=RF.fit(X_train,y_train)

In [60]:
rfmodel.score(X_train,y_train)

1.0

In [61]:
rfpredict=rfmodel.predict(X_test)

In [62]:
pd.crosstab(y_test,rfpredict)

col_0        0   1
Attrition
0          254   2
1           27  11

In [63]:
(254+10)/(254+10+2+28)

0.8979591836734694

In [64]:
from sklearn.ensemble import GradientBoostingClassifier

In [65]:
GB=GradientBoostingClassifier(n_estimators=5000)

In [66]:
gbmodel=GB.fit(X_train,y_train)

In [67]:
gbmodel.score(X_train,y_train)

1.0

In [68]:
gbpredict=gbmodel.predict(X_test)

In [69]:
pd.crosstab(y_test,gbpredict)

col_0        0   1
Attrition
0          239  17
1           23  15

In [70]:
(239+15)/(239+15+17+23)

0.8639455782312925

In [71]:
from sklearn.neural_network import MLPClassifier

In [72]:
mlp=MLPClassifier(activation='relu',hidden_layer_sizes=(100,))

In [73]:
mlpmodel=mlp.fit(X_train,y_train)

In [74]:
mlpmodel.score(X_train,y_train)

0.6292517006802721

In [75]:
mlppredict=mlpmodel.predict(X_test)

In [76]:
pd.crosstab(y_test,mlppredict)

col_0        0   1
Attrition
0          163  93
1           26  12

In [77]:
(204+5)/(204+52+33+5)

0.7108843537414966

In [78]:
from sklearn.neighbors import KNeighborsClassifier

In [79]:
KNN=KNeighborsClassifier()

In [80]:
KNNmodel=KNN.fit(X_train,y_train)

In [81]:
KNNmodel.score(X_train,y_train)

0.8435374149659864

In [82]:
KNNpredict=KNNmodel.predict(X_test)

In [83]:
pd.crosstab(y_test,KNNpredict)

col_0        0   1
Attrition
0          243  13
1           35   3

In [84]:
(243+3)/(243+13+35+3)

0.8367346938775511

In [85]:
from sklearn.svm import SVC # both for classification and regression

In [86]:
Supportvect=SVC(kernel='linear')

In [87]:
supvecmodel=Supportvect.fit(X_train,y_train)

In [88]:
supvecmodel.score(X_train,y_train)

0.842687074829932

In [90]:
svcpredict=supvecmodel.predict(X_test)

In [91]:
pd.crosstab(y_test,svcpredict)

col_0        0  1
Attrition
0          249  7
1           32  6

In [1]:
(249+6)/(249+6+32+7)

0.8673469387755102