In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [56]:
bankdata=pd.read_csv("/Users/tgsingh/Desktop/Datasets BITS/bank-full.csv")

In [57]:
bankdata.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [58]:
pd.value_counts(bankdata.y)

no     39922
yes     5289
Name: y, dtype: int64

In [59]:
(bankdata.isnull().sum().sort_values(ascending=False))

y            0
loan         0
job          0
marital      0
education    0
default      0
balance      0
housing      0
contact      0
poutcome     0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
age          0
dtype: int64

In [60]:
bankdata.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [61]:
numcol=bankdata.select_dtypes(include=[np.number])
objectcol=bankdata.select_dtypes(include=['object'])

In [62]:
objectcol.columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')

In [63]:
objectcol1=objectcol.drop('contact',axis=1)

In [64]:
objectcol1.columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'month',
       'poutcome', 'y'],
      dtype='object')

In [103]:
from scipy import stats as st

In [104]:
st.chi2_contingency(pd.crosstab(bankdata.y,bankdata.education))

(238.92350616407606,
 1.6266562124072994e-51,
 3,
 array([[ 6049.5371038 , 20487.71856407, 11744.98511424,  1639.75921789],
        [  801.4628962 ,  2714.28143593,  1556.01488576,   217.24078211]]))

In [116]:
unknown=bankdata[bankdata.contact=='unknown']
cellualr=bankdata[bankdata.contact=='cellular']
telephone=bankdata[bankdata.contact=='telephone']

In [117]:
st.f_oneway(unknown.balance,cellualr.balance,telephone.balance)

F_onewayResult(statistic=55.11059749593339, pvalue=1.2442314740028207e-24)

In [65]:
from sklearn.preprocessing import LabelEncoder

In [66]:
le=LabelEncoder()

In [67]:
objectcol2=objectcol1.apply(le.fit_transform)

In [68]:
bankdatadf=pd.concat([numcol,objectcol2],axis=1)

In [69]:
bankdatadf.head()

,age,balance,day,duration,campaign,pdays,previous,job,marital,education,default,housing,loan,month,poutcome,y
0,58,2143,5,261,1,-1,0,4,1,2,0,1,0,8,3,0
1,44,29,5,151,1,-1,0,9,2,1,0,1,0,8,3,0
2,33,2,5,76,1,-1,0,2,1,1,0,1,1,8,3,0
3,47,1506,5,92,1,-1,0,1,1,3,0,1,0,8,3,0
4,33,1,5,198,1,-1,0,11,2,3,0,0,0,8,3,0

In [70]:
y=bankdatadf.y
X=bankdatadf.drop('y',axis=1)

In [71]:
from sklearn.linear_model import LogisticRegression

In [72]:
logReg=LogisticRegression()

In [73]:
logRegmodel=logReg.fit(X,y)

In [74]:
logRegmodel.score(X,y)

0.8903143040410519

In [75]:
logregpredict=logReg.predict(X)

In [76]:
pd.crosstab(bankdata.y,logregpredict)

col_0      0     1
y
no     39161   761
yes     4198  1091

In [77]:
(39161+1091)/(39161+1091+761+4198)

0.8903143040410519

In [78]:
from sklearn.tree import DecisionTreeClassifier

In [79]:
dectree=DecisionTreeClassifier()

In [80]:
dectreemodel=dectree.fit(X,y)

In [81]:
dectreemodel.score(X,y)

1.0

In [82]:
dectreepredict=dectree.predict(X)

In [83]:
pd.crosstab(bankdata.y,dectreepredict)

col_0      0     1
y
no     39922     0
yes        0  5289

In [84]:
(39922+5289)/(39922+5289)

1.0

In [85]:
from sklearn.ensemble import RandomForestClassifier

In [86]:
RF=RandomForestClassifier(n_estimators=1000)

In [87]:
rfmodel=RF.fit(X,y)

In [88]:
rfmodel.score(X,y)

1.0

In [89]:
rfpredict=RF.predict(X)

In [90]:
pd.crosstab(bankdata.y,rfpredict)

col_0      0     1
y
no     39922     0
yes        0  5289

In [91]:
from sklearn.ensemble import GradientBoostingClassifier

In [96]:
GB=GradientBoostingClassifier(n_estimators=1000)

In [97]:
gbmodel=GB.fit(X,y)

In [98]:
gbmodel.score(X,y)

0.9309238902037115

In [99]:
gbpredict=GB.predict(X)

In [100]:
pd.crosstab(bankdata.y,gbpredict)

col_0      0     1
y
no     39179   743
yes     2380  2909

In [126]:
(39179+743)/(2380+2909+743+39179)

0.8830151954170445

In [ ]:
# Accuracy for GRadient boosting is 88.3%

In [118]:
from sklearn.neural_network import MLPClassifier#by default 100

In [119]:
NM=MLPClassifier(activation='relu',hidden_layer_sizes=(200,100,))

In [120]:
NMmodel=NM.fit(X,y)

In [121]:
NMmodel.score(X,y)

0.887394660591449

In [122]:
NMpredict=NMmodel.predict(X)

In [124]:
pd.crosstab(bankdatadf.y,NMpredict)

col_0      0    1
y
0      39743  179
1       4912  377

In [125]:
(39734+179)/(4912+377+179+39743)

0.8828161288182079

In [ ]:
# accuracy for MLP classifier is 88.2%